.body1{
    background-image:url("https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg");
}
.crf{
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 0;
    background-color: aquamarine;
    text-shadow: 5px 5px 5px grey;
    line-height: 2;
    color: black;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    
    
}